@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Playfair+Display:ital@1&family=Red+Hat+Display:wght@500;700;900&display=swap');

$mainBg: #0d192b;
$softBlue: #8bacda;
$cyan: #00fff7;
$cardBg: #14253d;
$line: #2f415b;
$white: #fff;
$iconViewBg: hsl(178, 100%, 50%, 60%);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $mainBg;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 90px;
    // background: #0c1729;

    .card {
        background: $cardBg;
        max-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 25px;
        border-radius: 20px;
        box-shadow:
            21px 20px 5px 0px #0c1729,
            -21px 20px 5px 0px #0c1729;

        .main-image {
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            img {
                border-radius: 10px;
                max-width: 100%;
                height: 50%;

            }
            div {
               background:  $iconViewBg;
               position: absolute;
               width: 100%;
               height: calc(100% - 5px);
               top: 0;
               border-radius: 10px;
               opacity: 0;
               transition: opacity 0.3s ease-in-out;

                img {
                    width: 12%;
                    height: 12%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    }

                &:hover {
                    opacity: 1;
                    cursor: pointer;   
                }

            }
        }

        .details-container {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            border-bottom: 1px solid $line;
            padding-bottom: 20px;
            margin-bottom: 20px;

            h2 {
                color: $white;
                margin-bottom: 15px;

                &:hover {
                    color: $cyan;
                    cursor: pointer;
                }
            }

            p {
                font-weight: 300;
                // margin-right: 40px; 
                // color: hsl(0, 0%, 100%, 60%);
                color: #6886b1;
                margin-bottom: 25px;
            }

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    color: #6886b1;
                    display: flex;
                    align-items: center;

                    &:nth-of-type(1) {
                        margin-right: 98px;
                        // float: right;
                    }

                    img {
                        margin-right: 5px;
                    }
                }
            }
        }

        .author {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
            column-gap: 18px;

            img {
                width: 50px;
                height: 50px;
                margin-left: 0;
                border: 1px solid white;
                border-radius: 50%;
            }

            p {
                color: #6886b1;

                span {
                    color: $white;

                    &:hover {
                        color: $cyan;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}